.header {
    width: 30vw;
    height: 3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #27293d;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}

.sidebar {
  background: #27293d;
  background: -webkit-linear-gradient(0deg, #27293d 0%, #27293d 100%);
  background: -o-linear-gradient(0deg, #27293d 0%, #27293d 100%);
  background: -moz-linear-gradient(0deg, #27293d 0%, #27293d 100%);
  background: linear-gradient(0deg, #27293d 0%, #27293d 100%);
  height: 50%;
  width: 50px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  display: block;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.flex-content {
    flex-grow: unset;
}

a {
    cursor: pointer;
}

i {
    margin-left: 7px;
}

@media screen and (max-width: 991px) {
    .header {
        visibility: hidden;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 30px;
    }
    i {
        margin: 0px;
    }
}